<footer class="footer py-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 text-lg-left">2020</div>
            <div class="col-sm-4">
                <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/MeaghanRaleigh"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/meaghan-raleigh-50484848/"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</footer> 