<div class="card mb-5 shadow shadow-none col-sm-8 container">
	<div class="card-body">
		<div class="accordion" id="accordionExample">
			<div class="card">
				<div class="card-header" id="skillsSnap">
					<h5 class="mb-0">
						<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseS" aria-expanded="true" aria-controls="collapseS">
							Skills snapshot
						</button>
					</h5>
				</div>
				<div id="collapseS" class="collapse" aria-labelledby="skillsSnap" data-parent="#accordionExample">
					<div class="card-body">
						 <p>Efficient independently or as part of a team, Well organized with high attention to detail, Including but not limited to: HTML5, JS, CSS, SCSS, Git, PHP, Laravel, AngularJS, Angular, Typescript, jQuery, Bootstrap, WordPress, UI and UX Impelmentation, <a href="https://github.com/meaghanRaleigh">GitHub Profile</a>.</p>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="experience">
					<h5 class="mb-0">
						<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseE" aria-expanded="true" aria-controls="collapseE">
							Development Experience
						</button>
					</h5>
				</div>
				<div id="collapseE" class="collapse" aria-labelledby="experience" data-parent="#accordionExample">
					<div class="card-body">
						<ul class="list-group">
							<li class="list-group-item">
								<h6>UI/UX Freelance, Self | <small><em>May 2021 - Current</em></small></h6>
									<p>Offer support and expertise in UI/UX engineering for clients websites. Address clients' needs, from WordPress development and design, Website troubleshooting and maintenance.</p>
							</li>
							<li class="list-group-item">
								<h6>Front-End Engineer, StarTribune | <small><em>August 2019 — April 2021</em></small></h6>
									<p>
										Develop and maintain a large array of digital products, including but not limited to the main company site, and all WordPress installs, the user platform. Determine website technical requirements through story mapping sessions with coworkers to bring the best experience to the consumer. UI and UX implementation of all company sites (main site, and information site). Implement page speed updates to speed up the sites.  Work with Optimizely for web optimization, Implement accessibility updates to help users access the site easier including, website color changes, working closely with the designer and helping with usability sessions to find out the best ways to approach changes to the site. Work in Agile, Scrum implementation, Daily use of: Laravel, JS, jQuery, SCSS, Git, TypeScript, React, Node, PHP
									</p>
							</li>
							<li class="list-group-item">
								<h6>Front-End Developer/Design, BlueEarth Innovation | <small><em>August 2014 — July 2019</em></small></h6>
								<p>
									Oversee day-to-day support and maintenance of various client websites. Develop and maintain custom website solutions and custom WordPress and Drupal installs. Implementing accessibility for websites and web apps. UI and UX implementation of custom web applications.  Develop and maintain site graphics via Illustrator and Photoshop. Daily use of HTML5, JS, jQuery, Bootstrap, AngularJS, SCSS, Gulp, Git, PHP
								</p>
							</li>
							<li class="list-group-item">
								<h6>WordPress Developer, Gruen Agency | <small><em>August 2013 — August 2014</em></small></h6>
								<p>
									Content entry and formatting into WordPress, Website development with HTML, CSS, and PHP. Gathered and input codes for websites using Webmaster Tools, Google Analytics, and Email Marketing. Created landing pages for marketing campaigns. Built contact forms for client
								</p>
							</li>
							<li class="list-group-item">
								<h6>Junior Developer, Entrepreneurial Advantage | <small><em>August 2012 — July 2013</em></small></h6>
								<p>
									Content entry and formatting into CMS. Assisted colleagues with website development using HTML and CSS. Gathered codes for websites using Webmaster Tools, Google Analytics, Email Marketing. Basic WordPress Development
								</p>
							</li>
						</ul>
					</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingThree">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Examples of Work 
						</button>
					</h5>
				</div>
				<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
					<div class="card-body">
						<ul class="list-group">
							<li class="list-group-item">WordPress work:<br>
								<ul class="list-group">
									<li class="list-group-item">Built: <a href="https://webwocnurse.com/" target="_blank">WebWocNurse</a></li>
									<li class="list-group-item">
									Maintain and update with new features: <a href="http://www.marzettifoodservice.com/" target="_blank">Marzetti Foodservice</a>
									<br>New features added were under: <a href="https://www.marzettifoodservice.com/products/dressings-and-sauces/" target="_blank">Dressing and Sauces</a>
									</li>
									<li class="list-group-item">Helped build and maintain/update: <a href="https://www.blueearth.net/" target="_blank">BlueEarth Innovation</a></li>
									<li class="list-group-item">Plugin to host on-demand video trainings for MACMH: <a href="https://macmh.org/event-page/trainings/on-demand-trainings/">On Demand trainings page</a></li>
									<li class="list-group-item">Rebuilt and maintained Star Tribune Company site after a hack: <a href="https://www.startribunecompany.com/" target="_blank">Star Tribune Company</a><br>
									Rebuilt and maintained Star Tribune Media Kit site after a hack: <a href="https://mediakit.startribunecompany.com/" target="_blank">Star Tribune Media Kit</a></li>
									<li class="list-group-item">Maintained and managed City Pages WordPress site before archival last November.</li>
								</ul>
							</li>
							<li class="list-group-item">Boostrap 4 Code Challenge: <a href="https://meaghanraleigh.github.io/eSalon-form/" target="_blank">eSalon Code Challenge</a></li>
							<li class="list-group-item accordion" id="accordionTwo">	
								<h5 class="mb-0">
									<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">EHR web application </button>
								</h5>
								<div id="collapseOne" class="collapse" aria-labelledby="EHR" data-parent="#accordionTwo">
									<div class="card-body">
										Main components:
										<ul class="list-inline">
											<li class="list-inline-item">AngularJS</li>
											<li class="list-inline-item">Bootstrap 3</li>
											<li class="list-inline-item">Moodle LMS</li>
										</ul>
										<p>EHR is an online course run from Nav+ to teach students to use an Electronic Health Records System (aka EHR). An EHR is a place where health professionals manage Health Records, which can include your visit to the doctor, any documents pertaining to that visit, Notes, Medical History, Labs, Bills, etc.</p>
										{%- include EHRPortPost.html -%}
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingFour">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							Personal Life 
						</button>
					</h5>
				</div>
				<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-4">
							 	<img class="img-thumbnail profile-image" src="assets/images/me.png" alt="Meaghan Raleigh">
							 </div>
							 <div class="col-sm-4">
							 	<img class="img-thumbnail profile-image" src="assets/images/family.png" alt="Meaghan Raleigh family">
							 </div>
							 <div class="col-sm-4">
							 	<img class="img-thumbnail profile-image" src="assets/images/familychristmas.png" alt="Meaghan Raleigh family christmas">
							 </div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<p>I live in Minneapolis with my husband, daughter (daughter #2 on the way end of August 2021), dog, four cats, and fish. It's a small zoo here. I love to read, crochet, knit, and sometimes sew in my spare time. You will often find me listening to Icelandic folk metal while I'm doing so. I enjoy going up to the North Shore area to see Lake Superior, and to collect rocks. I drink more coffee than is probably normal for a human. If you like what you see lets connect!
								</p>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>


