<div class="card">
	<div class="card-header">
		<h1 class="card-title">	<img class="img-thumbnail" src="assets/images/Meaghan.png"> Meaghan Raleigh</h1>
	</div>
	<div class="card-body">
		I love to helping build a beautiful and effective web experience.
		<h4>Skills snapshot:</h4>
		<ul class="list-group">
			<li>Efficient independently or as part of a team</li>
			<li>Well organized with high attention to detail</li>
			<li>HTML5, JS, CSS, SCSS, Git, PHP, Laravel, AngularJS, Angular, Typescript, JQuery, Bootstrap</li>
		</ul>
	</div>
</div>
