<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
      <div class="jumbotron jumbotron-fluid">
          <h1 class="display-4">Meaghan Raleigh</h1>
          <h4 class="">
            <img class="img-thumbnail profile-image" src="assets/images/me.png" alt="Meaghan Raleigh"><br>
            Freelance UI/UX Developer
          </h4>
           <p class="lead">Skills snapshot:</p>
                  <p>I help build beautiful and accessible web experiences.</p>
                  <p>Efficient independently or as part of a team, Well organized with high attention to detail, Including but not limited to: HTML5, JS, CSS, SCSS, Git, PHP, Laravel, AngularJS, Angular, Typescript, jQuery, Bootstrap, WordPress, UI and UX Impelmentation, <a href="https://github.com/meaghanRaleigh">GitHub Profile</a>.</p>
      </div>
    <div class="py-5 m-auto mainBody">
      <div class="container-fluid page-content">
        <div class="row">
          {%- include index.html -%}
        </div>
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
