<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4 white">Meaghan Raleigh</h1>
          <h4 class="white">Freelance UI/UX Developer</h4>
        </div>
      </div>
    <div class="py-5  m-auto mainBody">
      <div class="container-fluid page-content">
        <div class="row">
          {%- include index.html -%}
        </div>
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
